<div class="container">
  <div class="row">
    <h1>{{ title }}</h1>
    {% for asset in assets %}{% if asset.meta.name == 'bio-pic' %}
      <img src="{{asset.url}}" class="u-full-width">
    {% endif %}{% endfor %}
  </div>
  <div class="row">
    <div class="six columns">
      {{ body }}
    </div>
    <div class="three columns">
      <h2>Client List</h2>
      <ul>
        <li>{{meta['client_list']}}</li>
      </ul>
    </div>
    <div class="three columns">
      <h2>Contact</h2>
      <a href="mailto:{{site.meta['chris_email']}}">{{site.meta['chris_email']}}</a>
      <h4>Project Sites</h4>
      <a href="{{meta['project_atlasshrugged']}}">{{meta['project_atlasshrugged']}}</a>
      <a href="{{meta['project_moneychangers']}}">{{meta['project_moneychangers']}}</a>
      <h4>Social</h4>
    </div>
  </div>
</div>