<section class="call-to-action">
  <div class="row">
    <div class="twelve columns">
      <h1>Interested in starting a project? Let’s talk.</h1>
      <form>
        <div class="row">
          <div class="six columns">
            <input class="u-full-width cta-input" name="email" placeholder="Enter your email" type="text">
          </div>
          <div class="six columns">
            <input class="u-full-width cta-input" name="name" placeholder="Enter your name" type="text">
          </div>
        </div>
        <textarea name="message" placeholder="Write us a message" type="text" style="width:100%;"></textarea>
        <input class="submit" type="submit" value="Send">
      </form>
    </div>
  </div>
</section>