{% capture content %}
<section>
  <article class="row">
    <div class="header-news container">
      <div {% for asset in assets %}{% if asset.meta.header_type == 'news' %} class="header-image" style="background-image: url('{{asset.url}}');"{% endif %}{% endfor %}>
      </div>
      <h3>{{ current.date | date: '%B %d, %Y' }}</h3>
      <h1>{{ title }}</h1>
    </div>
  </article>
	<article class="row container">
		{{ body }}
	</article>
  <article class="news-hero-images">
    {% for asset in assets %}{% if asset.meta['image_type'] == 'news' %}
      <div class="container">
        <img src="{{ asset.url }}">
      </div>
    {% endif %}{% endfor %}
  </article>
  <div class="container">
    <p class="content-footer container"><a href="{{ parent.url }}">&larr; Back to {{ parent.title }}</a></p>
  </div>
</section>
{% endcapture %}
{% include 'layouts/default' %}