<!-- Other Projects -->
<section class="other-projects row project-grid">
	<div class="container">
  <h2>Recent Projects</h2>
  {% assign projects_posts = site.pages['projects'].posts %}
  {% for post in projects_posts | post limit:3 %}
    <article class="projects post-module four columns collapse">
      <div class="post-thumb">
        <img src="{{ post.meta['thumbnail'] }}" class="u-full-width">
      </div>
      <div class="overlay">
        <div class="project-header" style="display:block;">
          <h3>{{ post.title }}</h3>
        </div>
        <div class="view-wrap">
          <a href="{{ post.url }}" class="view button">View project &raquo;</a>
        </div>
      </div>
    </article>
  {% endfor %}
	</div>
</section>