{% capture content %}
<section class="parent container">
	{% if parent %}
		<h1>{{parent.title}}: {{title}}</h1>
	{% else %}
		<h1>{{title}}</h1>
	{% endif %}
	<!-- Feature Post -->
	{% for post in taxonomy['tags']['featured'].posts limit:1 %}
  {% assign featured_ids = featured_ids | append:',' | append:post.id %}
		<article class="row">
			<div class="twelve columns post-feature-container" style="background-image: url('{{ post.meta['featured_thumbnail']}}');">
				<div class="post-feature-info">
					<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
					{{ post.excerpt }}
					<a href="{{ post.url }}">View project &raquo;</a>
				</div>
			</div>
		</article>
	{% endfor %}
	<!-- Past Posts -->
	<section class="row project-grid">
		{% for post in posts %}
	  {% unless featured_ids contains post.id %}
			<article class="projects post-module">
				<div class="post-thumb">
					<img src="{{ post.meta['project_thumbnail'] }}" alt="{{asset.meta['name']}}" class="u-full-width">
				</div>
				<div class="overlay">
					<div class="view-wrap">
						<div style="display:block;">
							<h3>{{ post.title }}</h3>
						</div>
						<a href="{{ post.url }}" class="view button">View project &raquo;</a>
					</div>
				</div>
			</article>
		{% endunless %}
	  {% endfor %}
	</section>
</section><!-- /content -->
{% endcapture %}
{% include 'layouts/default' %}