<div class="container">
  <section class="recent-section row project-grid">
    <h2>Recent Projects</h2>
    {% for page in site.projects limit:2 % sort: 'date' %}
      <article class="projects post-module six columns collapse">
        <div class="post-thumb">
          <img src="{{ page.recent_thumbnail }}" class="u-full-width">
        </div>
        <div class="overlay">
          <div class="view-wrap">
            <div class="project-header" style="display:block;">
              <h3>{{ page.title }}</h3>
            </div>
            <a href="{{ page.url }}" class="view button">View project &raquo;</a>
          </div>
        </div>
      </article>

    {% endfor %}
  </section>
</div>