{% capture content %}
<div class="container">
  <div class="row">
    {% for asset in assets %}
    {% if asset.meta.responsive? %}
    <picture>
      <source srcset="{{ asset.meta.url-1500 }}" media="(min-width: 1500px)">
      <source srcset="{{ asset.meta.url-1000 }}" media="(min-width: 1000px)">
      <source srcset="{{ asset.meta.url-800 }}" media="(min-width: 800px)">
      <source srcset="{{ asset.meta.url-400 }}" media="(min-width: 400px)">
      <img srcset="{{ asset.meta.url-800 }}" alt="Testing out Picturefill">
    </picture>
    {% endif %}
    {% endfor %}
    {{ body }}
  </div>
</div>
{% endcapture %}

{% include 'layouts/default' %}