<!-- DOCTYPE html -->
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ site.title - page.title }}</title>
		<link href="/styles/fonts.css" rel="stylesheet" type="text/css" media="all">
		<link href="/styles/styles.css" rel="stylesheet" type="text/css" media="all">
		<style>
			{% for asset in assets %}{% if asset.meta.type == 'medium' %}
	    .header-home { background-image: url({{asset.url}}); }
			{% endif %}{% endfor %}
			{% for asset in assets %}{% if asset.meta.type == 'large' %}
		    @media only screen and (min-width: 1280px),
		    only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 600px),
		    only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 600px),
		    only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 600px),
		    only screen and (        min-device-pixel-ratio: 2)      and (min-width: 600px),
		    only screen and (                min-resolution: 192dpi) and (min-width: 600px),
		    only screen and (                min-resolution: 2dppx)  and (min-width: 600px) {
	      .header-home { background-image: url({{asset.url}}); }
			{% endif %}{% endfor %}
	    }
	  </style>
		<script src="/js/picturefill.js" type="text/javascript"></script>
	</head>
	<body>
		<!-- Big Image -->
		<div class="header-home">
			<!-- Header / Navigation -->
			<header class="bg-{{meta['color'] | fallback: 'dark_blue'}}">
				<nav class="container">
					<div class="row">
						<div class="logo-section">
							<a href="/"><img src="/images/mu-logo.svg" class="logo"></a>
						</div>
						<ul class="navbar-list">
							{% for page in site.pages %}
							{% if page.meta.main_nav == 'true' %}
							<li>
								<a href="{{ page.url }}"{% if slug == page.slug %} class="selected"{% endif %}>{{ page.title }}</a>
							</li>
							{% endif %}
							{% endfor %}
						</ul>
					</div>
				</nav>
			</header>
			<!-- Home Animation -->
			<div class="container home-intro">
				<div class="ten columns offset-by-one">
					<div class="slideshow-block">
						<a href="#" class="link"></a>
						<ul class="slides">
							<li><img src="/assets/0.png"/></li>
							<li><img src="/assets/1.png"/></li>
							<li><img src="/assets/2.png"/></li>
							<li><img src="/assets/3.png"/></li>
							<li><img src="/assets/4.png"/></li>
							<li><img src="/assets/5.png"/></li>
							<li><img src="/assets/6.png"/></li>
							<li><img src="/assets/7.png"/></li>
							<li><img src="/assets/8.png"/></li>
							<li><img src="/assets/9.png"/></li>
							<li><img src="/assets/10.png"/></li>
							<li><img src="/assets/11.png"/></li>
							<li><img src="/assets/12.png"/></li>
						</ul>
					</div>
					<div class="intro-copy">{{ body }}</div>
				</div>
			</div>
		</div>
		<!-- Main Content -->
		{{ content }}
    <!-- Footer -->
    {% include 'includes/footer' %}
    {% include 'includes/scripts' %}
	</body>
</html>