<!-- DOCTYPE html -->
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ site.title }}</title>
		<link href="/styles/fonts.css" rel="stylesheet" type="text/css" media="all">
		<link href="/styles/styles.css" rel="stylesheet" type="text/css" media="all">
		<style>
			{% for image in page.images %}{% if image.type == 'medium' %}
	    .header-projects { background-image: url({{image.path}}); }
			{% endif %}{% endfor %}
			{% for image in page.images %}{% if image.type == 'large' %}
		    @media only screen and (min-width: 1280px),
		    only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 600px),
		    only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 600px),
		    only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 600px),
		    only screen and (        min-device-pixel-ratio: 2)      and (min-width: 600px),
		    only screen and (                min-resolution: 192dpi) and (min-width: 600px),
		    only screen and (                min-resolution: 2dppx)  and (min-width: 600px) {
	      .header-projects { background-image: url({{image.path}}); }
			{% endif %}{% endfor %}
	    }
	  </style>
		<script src="/js/picturefill.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="header-projects">
			<!-- Header / Navigation -->
			<header class="bg-{{page['color'] | fallback: 'dark_blue'}}">
				<nav class="container">
					<div class="row">
						<div class="logo-section four columns">
							<a href="/"><img src="/images/mu-logo.svg" class="logo"></a>
						</div>
						<ul class="navbar-list">
							{% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
							{% for p in navigation_pages %}
								{% if p.navigation_weight %}
									<li>
										<a href="{{ p.url }}" {% if p.url == page.url %}class="selected"{% endif %}>
											{{ p.title }}
										</a>
									</li>
								{% endif %}
							{% endfor %}
						</ul>
					</div>
				</nav>
			</header>
			<div class="projects-title container">
				<h1>{{ page.title }}</h1>
			</div>
		</div>
		<!-- Main Content -->
		<div class="main-content">
			<section class="row">
				<article class="container">
					{{ content }}
				</article>
				{% if page.video_link %}
				<article class="video">
					<div class="video-wrap">
						{{ page.video_link }}
					</div>
				</article>
				{% endif %}
			</section>
			{% include call-to-action.html %}
			{% include next-project.html %}
		</div>
    <!-- Footer -->
		{% include footer.html %}
    {% include scripts.html %}
	</body>
</html>