---
layout: default
---

	<section class="parent container">
		<h1>{{ page.title }}</h1>
		<!-- Feature Post -->
		{% assign featured_project = site.projects | where: 'is_featured', 'true' %}
		{% for page in featured_project limit: 1 %}
			<article class="row">
				<div class="twelve columns post-feature-container" style="background-image: url('{{ page.images.large_image }}');">
					<div class="post-feature-info">
						<h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
						<p>{{ page.content | strip_html | truncatewords:20 }}</p>
						<a href="{{ page.url }}">View project &raquo;</a>
					</div>
				</div>
			</article>
		{% endfor %}
		<!-- Past Posts -->
		<section class="row project-grid">
		{% assign projects = site.projects | where: 'is_featured', 'false' | sort: 'position' %}
		{% for page in projects %}
			<article class="projects post-module">
				<div class="post-thumb">
					<img src="{{ page.images.medium_image }}" alt="" class="u-full-width">
				</div>
				<a href="{{ page.url }}">
					<div class="overlay">
						<div class="view-wrap">
							<div style="display:block;">
								<h3>{{ page.title }}</h3>
							</div>
							<!--<a href="{{ page.url }}" class="view button">View project &raquo;</a>-->
						</div>
					</div>
				</a>
			</article>
	  {% endfor %}
		</section>
	</section><!-- /content -->