@mixin border-radius {
	   -moz-border-radius: $radius-small;
	-webkit-border-radius: $radius-small;
}

@mixin transition-bgcolor($transition: 100ms) {
	-webkit-transition: $transition ease-out;
	        transition: $transition 100ms ease-out;
}

@mixin transition-color {
	-webkit-transition: color 100ms ease-out;
	        transition: color 100ms ease-out;
}

@mixin transition-opacity {
	-webkit-transition: opacity 100ms ease-out;
	        transition: opacity 100ms ease-out;
}

@mixin basic-button {
    @include transition-bgcolor;
    border-radius: $radius-small;
    padding: 1em;
    background-color: $light-grey;
    text-decoration: none;
}

@mixin overlay($attribute, $color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  #{$attribute}: $solid-color;
  #{$attribute}: $color;
}

@mixin background-color ($color) {
	background-color: $color;
}

@mixin vertical-align($position: relative,$top: 35%) {
  position: $position;
  top: $top;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}