@font-face {
  font-family: UnitRoundedWeb-Light;
  src: url("http://v2-mad-universe.siteleaf.net/fonts/UnitRoundedWeb-Light.woff") format("woff");
  font-weight: light;
  font-style:  normal;
}

@font-face {
  font-family: UnitRoundedWeb-LightItalic;
  src: url("http://v2-mad-universe.siteleaf.net/fonts/UnitRoundedWeb-LightItalic.woff") format("woff");
  font-weight: light;
  font-style:  italic;
}

@font-face {
  font-family: UnitRoundedWeb;
  src: url("http://v2-mad-universe.siteleaf.net/fonts/UnitRoundedWeb.woff") format("woff");
  font-weight: normal;
  font-style:  normal;
}

@font-face {
  font-family: UnitRoundedWeb-Italic;
  src: url("http://v2-mad-universe.siteleaf.net/fonts/UnitRoundedWeb-Italic.woff") format("woff");
  font-weight: normal;
  font-style:  italic;
}

@font-face {
  font-family: UnitRoundedWeb-Medium;
  src: url("http://v2-mad-universe.siteleaf.net/fonts/UnitRoundedWeb-Medium.woff") format("woff");
  font-weight: medium;
  font-style:  normal;
}